---

- name: install packages
  yum: name={{ item }} state=installed
  with_items:
      - httpd
      - mariadb-server 
      - mariadb
      - mariadb-server 
      - mariadb
      - php-fpm
      - MySQL-python
      - php-mbstring 
      - php-pear
      - php

- name: Starting Apache server
  service: name=httpd state=started

- name: Starting mysql database
  service: name=mariadb state=started

- name: Configuring mysql
  include: mysql_secure_installation.yml


- name: install packages
  yum: name={{ item }} state=installed
  with_items:
      - epel-release


- name: Installing server repo
  yum:
    name: http://repo.zabbix.com/zabbix/3.2/rhel/7/x86_64/zabbix-release-3.2-1.el7.noarch.rpm
    state: present
  ignore_errors: yes



- name: Installing zabbix dependencies and relative packages
  yum: name={{ item }}  state=present
  with_items:
      - zabbix-server-mysql
      - zabbix-web-mysql
      - zabbix-get 
      - zabbix-agent

- name: Create DB (if necessary)
  mysql_db:
    name={{ zabbix_db_name }} 
    encoding=utf8
    state=present
  register: db_created

- name: Import DB (if it was created)
  mysql_db:
    name={{ zabbix_db_name }}
    state=import
    target=/usr/share/doc/zabbix-server-mysql-3.2.7/create.sql.gz
  when: db_created.changed

- name: Mysql Configuration
  command: 'mysql -u root -p{{ mysql_root_password }} -e "{{ item }}"'
  with_items:
    - GRANT ALL PRIVILEGES on {{ zabbix_db_name }}.* to {{ zabbix_db_user_name }}@localhost IDENTIFIED BY '{{ zabbix_db_password }}';
    - GRANT ALL PRIVILEGES on {{ zabbix_db_name }}.* to {{ zabbix_db_user_name }}@'%' IDENTIFIED BY '{{ zabbix_db_password }}';
    - FLUSH PRIVILEGES;


- name: Adding zabbix configuration file ...
  template: src=zabbix-server.conf.j2 dest=/etc/zabbix/zabbix_server.conf owner=root group=zabbix mode=0640

- name: Configuring zabbix ui part ...
  template: src=zabbix.conf.php.j2 dest=/etc/zabbix/web/zabbix.conf.php owner=apache group=apache mode=0644
  notify: zabbix-server restart

- name: Configuring zabbix file ...
  template: src=zabbix.conf.j2 dest=/etc/httpd/conf.d/zabbix.conf
  notify: Restart apache

- name: Starting zabbix agent
  service: name=zabbix-agent state=started

