---


- name: Installing zabbix agent rpm package
  shell: "wget http://repo.zabbix.com/zabbix/3.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_3.0-1+trusty_all.deb"
  when: ansible_os_family == "Debian"

- name: Added rpm for centos...
  command: rpm -Uvh http://repo.zabbix.com/zabbix/3.0/rhel/7/x86_64/zabbix-release-3.0-1.el7.noarch.rpm warn=no
  when: ansible_os_family == "Redhat"
#  ignore_errors: yes

- name: dpkg packages...
  command: dpkg -i zabbix-release_3.0-1+trusty_all.deb
  when: ansible_os_family == "Debian"

- name: Update the cache...
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Installing Zabbix Agent ...
  apt: name=zabbix-agent state=installed
  when: ansible_os_family == "Debian"

- name: Installing Zabbix Agent ...
  yum: name=zabbix-agent state=installed
  when: ansible_os_family == "Redhat"

- name: Configuring Zabbix Agent ...
  template: src=zabbix_agent.conf.j2 dest=/etc/zabbix/zabbix_agentd.conf owner=root group=root mode=0644
  notify: zabbix-agent restart
#- name: Starting zabbix agent
#  service: name=zabbix-agent state=restarted
